@font-face {
    font-family: SkippySharpie;
    font-weight: 500;
    src: url(../fonts/skippy_sharpie_regular-webfont.woff);
}

@font-face {
    font-family: SkippySharpie;
    font-weight: 500;
    src: url(../fonts/skippy_sharpie_regular-webfont.woff2);
}
