@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
    background-color: #151c1b;
    font-family: Overpass;
    color: #ffffff;
}
a,a:hover {
    text-decoration: none;
    color: #ffffff;
}

h1,h2,h3,h4,h5,p,span {
    color: #ffffff;
}
.col-centered {
    display: inline-block ;
    float: none ;
}

.list-group-item {
    cursor: pointer;
    color:#ffffff;
    background-color:transparent;
    border: none;
    padding: .25rem 1.25rem;
    font-family: Overpass;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
}

.mt-custom-header {
    margin-top: 70px;
}
.mw-780 {
    max-width: 780px;
}
.m-auto {
    margin:auto;
}
.mt-6 {
    margin-top: 6rem!important;
}
.pl-6 {
    padding-left: 6rem!important;
}

footer {
    font-size: 18px;
}

.social-icons [class*="fa fa-"] {
    background-color: #ca2a4b;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 40px;
    margin: auto 25px;
    font-size: 29px;
    text-align: center;
    text-decoration: none;
    padding-top: 11px;
}
.ai-c {
    align-items: center;
}

.d-tc {
    display: table-cell;
}

.footer-custom-text {
    font-family: 'SkippySharpie';
    font-size: 27px;
}
.title-custom {
    font-size: 32px;
    font-weight: bold;
}
.date-custom {
    font-size: 20px;
    color:#ca2a4b;
}

.p-description {
    font-size:26px;
    text-align: left;
    max-width: 550px;
}
.custom-quote {
    font-family: SkippySharpie;
    font-size: 48px;
    line-height: 1;
    text-align: center;
}
[class*="col-"] {
    position: relative;

}
.selected-item {
    color: #ca2a4b
}
.p-a {
    position: absolute;
}
.p-a-1 {
    right: -94px;
    top: 70px;
}
.p-a-2 {
    left: -23px;
    top: -35px;
}

.p-a-3 {
    right: -107px;
    top: 38px;
}
.p-a-4 {
    left: -102px;
    top: 71px;
}
.p-a-5 {
    right: -30px;
    top: 65px;
}
.p-a-6 {
    right: -110px;
    top: 54px;
}
.p-a-7 {
    left: -29px;
    top: -46px;
}
.fz-18 {
    font-size: 18px;
}
.p-t-2 {
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
    text-align: center;
}

.p-t-3 {
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
    text-align: center;
}





















/* For responsive: */

@media only screen and (max-width: 1199px) {
	/* For mobile phones: */
	
	.social-icons [class*="fa fa-"] {
        margin: auto 7px;
    }
}


@media only screen and (max-width: 1024px) {
	/* For mobile phones: */


    .mw-780 {
        width: 100% !important;
    } 
    .r-text-c {
        text-align: center !important;
        margin-bottom: 12px;
    }
	
}

@media only screen and (max-width: 767px) {
	/* For mobile phones: */


    .p-a-5 {
        right: -76px;
        top: 65px;
    }
	
}

